<h1>{{album.title}}</h1>
<p *ngIf="album.released_on">
  <small>Released on {{album.released_on}}</small>
</p>

<ng-container *ngIf="tours.length > 0">
  <h2>Related Tours</h2>
  <a class="list-item" *ngFor="let tour of tours" routerLink="/tours/{{tour.id}}">
    <span class="title">
      {{tour.name}}
    </span>
    <span class="detail">{{tour.from}} 〜 {{tour.to}}</span>
  </a>
</ng-container>

<h2>Songs</h2>
<ul>
  <li class="edition" *ngFor="let edition of album.editions">
    <h3>{{edition.name}}</h3>
    <ng-container *ngFor="let disc of edition.songs">
      <a class="list-item"  *ngFor="let song of disc" routerLink="/songs/{{song}}">
        <span class="title">{{getSongTitle(song)}}</span>
      </a>
    </ng-container>
  </li>
</ul>
