@import '../../constants'

\:host
  background-color: #fff
  border-bottom: 2px solid #489BC6
  display: flex
  align-items: center
  justify-content: space-between
  height: $header-height-sm
  width: 100%
  @include media-query(sm)
    padding: 0 4px 0 16px

  @include media-query()
    padding: 0 32px
    height: $header-height-md

    button
      display: none

  @include media-query(lg)
    height: $header-height-lg

  a
    text-decoration: none
    color: #424242
    &:visited
      color: #424242

  button
    height: 40px
    width: 44px
    background-color: transparent
    padding-top: 2px
    border: 2px solid transparent
    border-radius: 4px

    &:active
      background-color: #e0e0e0

    //&:focus
    //  border-color: #489BC6




