<h1>Events</h1>

<label for="search-input" class="search-input" [class.active]="inputFocused">
  <span class="icon"><fa-icon [icon]="iconMag"></fa-icon></span>
  <input
    id="search-input"
    type="text"
    [(ngModel)]="query"
    (ngModelChange)="queryChange()"
    placeholder="イベント名を入力してください"
    (focus)="inputFocused = true"
    (blur)="inputFocused = false"
  >
</label>
<a class="song" @fadeIn *ngFor="let event of events" routerLink="/events/{{event.id}}">
  <span class="title">{{event.name}}</span>
  <span class="detail">
    {{event.date}}
    <ng-container *ngIf="event.sub_name">・{{event.sub_name}}</ng-container>
    <ng-container *ngIf="event.live_house_name">・{{event.live_house_name}}</ng-container>
  </span>
</a>
