@import './constants'

$footer-height: 45px
\:host
  display: block
  min-height: 100vh

.main-layout
  padding-top: $header-height-sm
  min-height: 100%
  overflow-x: hidden
  overflow-y: scroll
  display: flex
  justify-content: center

  @include media-query()
    padding-top: $header-height-md
    padding-left: $app-nav-width-md

  @include media-query(lg)
    padding-top: $header-height-lg
    padding-left: $app-nav-width-lg

  .container
    @include media-query()
      max-width: 700px

    @include media-query(lg)
      max-width: 900px

app-header
  position: fixed
  top: 0
  left: 0
  z-index: 100

app-nav
  position: fixed
  z-index: 50
  top: $header-height-sm
  left: 0
  width: $app-nav-width-sm
  height: 100vh

  @include media-query()
    height: 100vh
    width: $app-nav-width-md
    top: $header-height-md
  @include media-query(lg)
    width: $app-nav-width-lg
    top: $header-height-lg

.container
  flex: 1
  display: block
  min-height: 100vh
