
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="buttons">
    <a routerLink="/songs" routerLinkActive="current">Songs</a>
    <a routerLink="/albums" routerLinkActive="current">Albums</a>
    <a routerLink="/tours" routerLinkActive="current">Tours</a>
    <a routerLink="/events" routerLinkActive="current">Events</a>
    <!-- その他の表示方法はメニューに格納 -->
    <!--  <a routerLink="/events">Events</a>-->
    <!--  <a routerLink="/events">Places</a>-->
  </div>
</div>
