<h1>
  {{event.name}}
  <ng-container *ngIf="event.sub_name"><br><small>{{event.sub_name}}</small></ng-container>
</h1>
<!-- TODO 会場情報を検索して表示すること-->

<ng-container *ngIf="relatedTour">
  <h2>Tour</h2>
  <a class="list-item" routerLink="/tours/{{relatedTour.id}}">
    <span class="title">
      {{relatedTour.name}}
    </span>
    <span class="detail">{{relatedTour.from}} 〜 {{relatedTour.to}}</span>
  </a>
</ng-container>

<ng-container *ngIf="liveHouse">
  <h2>Place</h2>
  <p>{{liveHouse.name}}</p>
</ng-container>

<h2>Set list</h2>
<div class="section" *ngFor="let section of event.songs">
  <ng-container *ngFor="let song of section">
    <!-- SongID -->
    <a class="list-item" *ngIf="!song.title" routerLink="/songs/{{song}}">
      <span class="title">{{getSongTitle(song)}}</span>
    </a>

    <!-- SetListItemDefinition -->
    <ng-container *ngIf="song.title">
      <div class="list-item no-hover" *ngIf="song.title">
        <span class="title">{{getSongTitle(song)}}</span>
        <ng-container *ngIf="song.songs">
          <ng-container *ngFor="let s of song.songs">
            <a class="list-item child" *ngIf="!s.title else nonClickable" routerLink="/songs/{{s}}" >{{getSongTitle(s)}}</a>
            <ng-template #nonClickable>
              <div class="list-item no-hover child">{{getSongTitle(s)}}</div>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>

    </ng-container>
  </ng-container>
</div>
