<h1>{{tour.name}}</h1>

<div class="spoiler-alert" *ngIf="tour.prevent_spoiler">
  <div class="title">
    ネタバレ注意
  </div>
  <div class="message">
    このツアーは開催期間中、またはその他に理由によりセットリストのネタバレが制限されています。
  </div>
</div>

<h2>Date</h2>
<p>{{tour.from}} 〜 {{tour.to}}</p>

<ng-container *ngIf="relatedAlbum">
  <h2>Related Album</h2>
  <a class="event" routerLink="/albums/{{relatedAlbum.id}}">
  <span class="title">
    {{relatedAlbum.title}}
  </span>

  <span class="detail" *ngIf="relatedAlbum.released_on || relatedAlbum?.editions[0]?.released_on">
    Released on
    <ng-container class="detail" *ngIf="relatedAlbum.released_on">{{relatedAlbum.released_on}}</ng-container>
    <ng-container class="detail" *ngIf="!relatedAlbum.released_on && relatedAlbum.editions[0].released_on">{{relatedAlbum.editions[0].released_on}}</ng-container>
  </span>

  </a>
</ng-container>

<h2>Related Lives</h2>
<a class="event" *ngFor="let live of relatedLives" routerLink="/events/{{live.id}}">
  <span class="title">
    {{live.name}}
  </span>
  <span class="detail">
    {{live.date}}
    <ng-container *ngIf="live.live_house_name">・{{live.live_house_name}}</ng-container>
  </span>
</a>
