\:host
  display: block
  background-color: #f5f5f5
  color: #424242
  padding-bottom: 16px
  min-height: 100vh

.view-header
  padding: 8px
  width: 100%
  height: 95px
  background-color: #f5f5f5
  border-bottom: 1px solid #e0e0e0

  input[type=text]
    display: block
    width: 100%
    height: 40px
    border: 1px solid #e0e0e0
    border-radius: 5px
    padding: 4px 8px
    font-size: 16px
    color: #424242
    &::-webkit-input-placeholder
      color: #e0e0e0

  .inst-switch
    margin-top: 8px
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 12px
    height: 30px
    padding: 0 4px

    &:active
      background-color: #e0e0e0

    /* The switch - the box around the slider */
    .switch
      position: relative
      display: inline-block
      width: 40px
      height: 22px

    /* Hide default HTML checkbox */
    .switch input
      opacity: 0
      width: 0
      height: 0

    /* The slider */
    .slider
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #ccc
      transition: .4s cubic-bezier(0.36,0.66,0.04,1)
      border-radius: 34px

    .slider:before
      position: absolute
      content: ""
      height: 14px
      width: 14px
      left: 4px
      bottom: 4px
      background-color: white
      transition: .4s cubic-bezier(0.36,0.66,0.04,1)
      border-radius: 50%

    input:checked + .slider
      background-color: #2196F3

    input:focus + .slider
      box-shadow: 0 0 1px #2196F3

    input:checked + .slider:before
      transform: translateX(18px)

.song
  text-decoration: none
  color: #424242
  cursor: pointer
  height: 44px
  background-color: #fff
  display: flex
  align-items: center
  padding: 0 16px
  margin-bottom: 2px

  &:hover
    background-color: #e0e0e0
