@import '../../constants'

\:host
  display: block
  color: #424242
  min-height: 100vh

  @include media-query(sm)
    padding: 16px

  @include media-query(md)
    padding: 24px 36px 16px

.search-input
  display: flex
  align-items: center
  height: 36px
  border: 2px solid #EAECF0
  border-radius: 18px
  padding: 0 16px
  transition: .2s ease-out border-color

  // additional
  margin-top: 16px

  &.active
    border-color: #489BC6

  .icon
    flex: none
    width: 16px
    height: 16px
    color: #e0e0e0

  input[type=text]
    display: block
    flex: 1
    height: 100%
    border: none
    padding: 4px 8px
    font-size: 16px
    color: #424242
    &::-webkit-input-placeholder
      color: #e0e0e0

.view-header
  width: 100%
  margin-bottom: 8px

  .inst-switch
    cursor: pointer
    margin-top: 8px
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 12px
    height: 30px
    padding: 0 4px
    border-radius: 4px
    transition: .2s ease-out background-color

    &:active
      background-color: #e0e0e0

    /* The switch - the box around the slider */
    .switch
      position: relative
      display: inline-block
      width: 48px
      height: 26px

    /* Hide default HTML checkbox */
    .switch input
      opacity: 0
      width: 0
      height: 0

    /* The slider */
    .slider
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #ccc
      transition: .4s cubic-bezier(0.36,0.66,0.04,1)
      border-radius: 34px
      border: 2px solid transparent

    .slider:before
      position: absolute
      content: ""
      height: 16px
      width: 16px
      left: 4px
      bottom: 3px
      background-color: white
      transition: .4s cubic-bezier(0.36,0.66,0.04,1)
      border-radius: 50%

    input:checked + .slider
      background-color: #2196F3

    input:focus + .slider
      border-color: #2196F3

    input:focus:checked + .slider
      border-color: lighten(#2196F3, 28deg)

    input:checked + .slider:before
      transform: translateX(20px)

.song
  text-decoration: none
  color: #424242
  cursor: pointer
  height: 44px
  background-color: #EAECF0
  display: flex
  align-items: center
  padding: 0 16px
  margin-bottom: 8px
  border-radius: 4px
  transition: .4s ease-in background-color

  &:hover, &:focus
    background-color: lighten(#EAECF0, 3deg)
    transition: .2s ease-out background-color
